@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Roboto:wght@300;400&display=swap');
body{
    
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
}
h2,h4{
    font-family: 'Poller One', cursive;
    font-weight: 400;
}
h2{
    font-size: 1.2em;
}
button:hover{
    cursor: pointer;
}
/* list styles */
.list{
    width: 25%;
    height: 100%;
    overflow:auto;
    display: inline-block;
    margin: 0;
    padding:0;
    list-style: none;
}

.list li{
    padding: 10px 20px 10px 10px;
    border-bottom: 1px solid #7e7e7e;
}
.list li:hover{
    cursor: pointer;
}
.list li:hover h4{
    color: #17a2b8;
}
.list li h4{
    font-size: 1em;
    margin: 0px;
    transition: 0.2s linear;
}
.list li .species{
    font-size: 0.8em;
    color: #7e7e7e;
}
/* details styles */
.details{
    max-width: 70%;
    height: 100%;
    display: inline-block;
    overflow: auto;
}
.details .container{
    padding: 10px;
    margin:auto
}
.details img{
    max-width: 30%;
    height: auto;
    display: inline-block;
    vertical-align:middle;
    margin-left: 10px;
}
.details .basic-info{
    width: 65%;
    display: inline-block;
    text-align: center;
    
}
.details .basic-info .name, .details .basic-info .species{
    padding: 5px;
    font-weight: 400;
    margin-left:auto;
    margin-right:auto;
}
.details .full-width{
    width: 100%;
}
.basic-info .species{
    font-size: 1.2em;
}
.details .description{
    padding: 10px;
    width: 90%;
}
/* button styles */
.details button{
    text-align: center;
    border-style: none;
    border-radius: 15%;
    padding:3px 5px;
    position:absolute;
    top:10px;
    right: 15px;
    transition: 0.2s linear;
}
.edit{
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
}
.edit:hover{
    background-color: #0e6977;
    border-color: #0e6977;
    color: #fff;
}
.details .save{
    right: 45px;
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}
.save:hover{
    background-color: #155e26;
    border-color: #155e26;
    color: #fff;
}
.cancel{
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}
.cancel:hover{
    background-color: #801e27;
    border-color: #801e27;
    color: #fff;
}
/* inputs */

.details input{
    margin: 10px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #7e7e7e;
    color: #7e7e7e;
    transition: 0.2 linear;
}
.details input:focus {
    border-color: #17a2b8;
    color: #000;
}

.details textarea{
    margin: 10px;
    outline: 0;
    border-width: 2px;
    border-color: #7e7e7e;
    color: #7e7e7e;
    transition: 0.2 linear;
    width: 90%;
    height: 8em;
}
.details textarea:focus {
    border-color: #17a2b8;
    color: #000;
}

/* Scrollbars */
.list::-webkit-scrollbar-track, .details::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.list::-webkit-scrollbar, .details::-webkit-scrollbar, textarea::-webkit-scrollbar{
  width: 12px;
  background-color: #f5f5f5;
}

.list::-webkit-scrollbar-thumb, .details::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #17a2b8;
}